@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mb-5">
    <h1 class="display-4">BEM-VINDO À LANCHONETE DO TEO! T DE TRAUMA ALIMENTAR, E DE ESCOLA, E O DE ÓVULO.</h1>

    <p>Uma vez um sábio disse: <br /> Nem tudo estará completo, mas contanto que funcione bem em todas suas funções feitas, o problema será menor...<br /> Sabe quem disse isso? <br />
        O gênio Alan Turin, concorda com ele??? <br /></p>
</div>
